name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout Repo2 code
      - uses: actions/checkout@v4

      # 2️⃣ Setup Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4️⃣ Install Playwright browsers
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      # 5️⃣ Run Repo2 Playwright tests
      - name: Run Playwright tests
        run: npx playwright test

      # 6️⃣ Upload test report
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

      # 7️⃣ Trigger Repo1 workflow
      - name: Trigger Repo1
        run: |
          curl -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.REPO1_TOKEN }}" \
          https://api.github.com/repos/Arfaa49/automation-repo-1/actions/workflows/tests.yml/dispatches \
          -d '{"ref":"main"}'
